<%= form_with(model: custom_rule, local: true) do |form| %>
  <% if custom_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_rule.errors.count, "error") %> prohibited this custom_rule from being saved:</h2>

      <ul>
      <% custom_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select(:product_id, Product.all.collect {|p| [ p.description, p.id ] }, { include_blank: false }) %>
  </div>

  <div class="field">
    <%= form.label :rule %>
    <%= form.text_area :rule, id: :custom_rule_rule %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from, id: :custom_rule_date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.date_select :date_to, id: :custom_rule_date_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
