<%= form_with(url: "/check_outs/scan", local: true) do |form| %>
  <div class="field">
    <%= form.label :scan %>
    <%= form.text_field :scan %>
    <%= form.hidden_field :id, value: check_out.id %>
  </div>

  <div class="actions">
    <%= form.submit "Scan" %>
  </div>
<% end %>

<%= form_with(model: check_out, local: true) do |form| %>
  <% if check_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_out.errors.count, "error") %> prohibited this check_out from being saved:</h2>

      <ul>
      <% check_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_started %>
    <%= form.date_select :date_started, id: :check_out_date_started %>
  </div>

  <div class="field">
    <%= form.label :date_closed %>
    <%= form.date_select :date_closed, id: :check_out_date_closed %>
  </div>

  <% @check_out_products = check_out.check_out_products %>
  <%= render partial: 'check_out_products/index' %>

  <p>
    <strong>Total:</strong>
    <%= number_to_currency(check_out.total, locale: 'pl') %>
  </p>

  <div class="actions">
    <%= form.submit "Close checkout" %>
  </div>
<% end %>
