<p id="notice"><%= notice %></p>

<p>
  <strong>Date started:</strong>
  <%= @check_out.date_started %>
</p>

<p>
  <strong>Date closed:</strong>
  <%= @check_out.date_closed %>
</p>

<p>
  <strong>Final total:</strong>
  <%= @check_out.final_total %>
</p>

<% @check_out_products = @check_out.check_out_products %>
<%= render partial: 'check_out_products/index' %>

<%= link_to 'Edit', edit_check_out_path(@check_out) %> |
<%= link_to 'Back', check_outs_path %>
