<p id="notice"><%= notice %></p>

<h1>Check Out Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Check out</th>
      <th>Date added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_out_products.each do |check_out_product| %>
      <tr>
        <td><%= check_out_product.product %></td>
        <td><%= check_out_product.check_out %></td>
        <td><%= check_out_product.date_added %></td>
        <td><%= link_to 'Show', check_out_product %></td>
        <td><%= link_to 'Edit', edit_check_out_product_path(check_out_product) %></td>
        <td><%= link_to 'Destroy', check_out_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check Out Product', new_check_out_product_path %>
