<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @product.currency.abbr %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, locale: @product.currency.locale) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
