<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "CheckOuts", check_outs_path %> | <%= link_to "Products", products_path %> | <%= link_to "Rules", rules_path %> |  <%= link_to "Custom Rules", custom_rules_path %>
    <%= yield %>
  </body>
</html>
